extends ./_layouts/main

block content
    header
        .row
            .small-12.columns
                h1 RPI page - GPIO test

    main
        .row
            .small-12.columns
                button.button(type="button", name="button", onclick="enable(this)") Enable all
                button.button.alert(type="button", name="button", onclick="disable(this)") Disable all
                button.button.success(type="button", name="button", onmouseup="disable(this)", onmousedown="enable(this)") On touch

        .row
            .small-12.columns
                button.button(type="button", name="button", onclick="animationOn(this)") Enable animation
                button.button.alert(type="button", name="button", onclick="animationOff(this)") Disable animation


        - var n = 1

        while n < 27
            - n++
            .row
                .small-2.columns
                    span GPIO #{n}
                .small-10.columns
                    button.button.tiny(type="button", name="button", onclick="enableLed(this, #{n})") Enable
                    button.button.tiny.alert(type="button", name="button", onclick="disableLed(this, #{n})") Disable
                    button.button.tiny.success(type="button", name="button", onmousedown="enableLed(this, #{n})", onmouseup="disableLed(this, #{n})") On touch

    footer.logger#logger

    script(src='js/scripts.js')

